<title>
	Headers / Encabezados
</title>
<h1>
	Header 1 / Encabezado 1
</h1>
<p>El encabezado mas importante</p> 
<h2>
	Header 2 / Encabezado 2
</h2>
<p>Menos importante que h1</p>
<p>Mas importante que h3 - h6</p>
<h3>
	Header 3 / Encabezado 3
</h3>
<p>Menos importante que h1 - h2</p>
<p>Mas importante que h4 - h6</p>
<h4>
	Header 4 / Encabezado 4
</h4>
<p>Menos importante que h1 - h3</p>
<p>Mas importante que h5 - h6</p>
<h5>
	Header 5 / Encabezado 5
</h5>
<p>Menos importante que h1 - h4</p>
<p>Mas importante que h6</p>
<h6>
	Header 6 / Encabezado 6
</h6>
<p>El encabezado menos importante
</p>
