<title>
	ol = ordered list
</title>
<ol>
	<li>
		ordered
	</li>
	<li>
		list
	</li>
	<li>
		lista
	</li>
	<li>
		ordenada
	</li>
	<li>
		list
	</li>
	<li>
		item
	</li>
	<li>
		elemento
	</li>
	<li>
		de
	</li>
	<li>
		la
	</li>
	<li>
		lista
	</li>
</ol>
