<title>
	dl = definition list
</title>
<dl>
	<dt>
		definition
	</dt>
	<dd>
		list
	</dd>
	<dt>
		lista
	</dt>
	<dd>
		de
	</dd>
	<dt>
		definiciones
	</dt>
	<dd>
		definition
	</dd>
	<dt>
		term
	</dt>
	<dd>
		definicion
	</dd>
	<dt>
		de
	</dt>
	<dd>
		termino
	</dd>
	<dt>
		definition
	</dt>
	<dd>
		definition
	</dd>
	<dt>
		definion
	</dt>
	<dd>
		de
	</dd>
	<dt>
		la
	</dt>
	<dd>
		definicion
	</dd>
</dl>
