<title>
	xmp
</title>
<h1>xmp</h1>
<p>xmp fue una etiqueta usada para
escribir texto preformateado</p>
<p>es decir poner el texto tal cual
respetando espacios y tabulaciones, 
ademas de caracteres especiales</p>
<xmp>
	Este texto esta dentro de la
etiqueta xmp
	Respetara las tabulaciones y
caracteres especiales, incluyendo
	Estos simbolos </> con lo
cual podemos representar etiqueta
	ejemplo:
	<p>
		la etiqueta p sirve
para crear un parrafo
	</p>
	sin embargo no puede
representar la etiqueta xmp
	fin del texto preformateado
</xmp>
<p>xmp fue remplazado por pre</p>
<p>la etiqueta pre aparecio en el
borrador de html 1.1 en 1993 en el
mes de junio</p>
<p>pre no puede reprentar</p>
<xmp>los elementos </></xmp>
<p>la manera en que se resuelve,
esto, se vera mas adelante</p>
<p>...</p>
<p>una etiqueta remplazada o
deprecated, puede ser actualmente
soportada, para compatibilidad de
paginas viejas</p>
<p>pero no se debe usar para
paginas nuevas</p>
<p>las etiquetas deprecated, pueden
perder el soporte en navegadores
actuales</p>
<p>algunas etiquetas deprecated son
completamente obsoletas, no son
soportadas por ningun navegador</p>
<p>...</p>
<p>voy a crear otras 3 paginas con
xmp</p>
