<title>
	body / encabezado
</title>
<h1>body / encabezado</h1>
<p>la etiqueta body engloba todo el
contenido que se muestra en el
documento</p>
<p>la etiqueta body en html tags
esta planeada para el futuro</p>
<p>...</p>
<p>por ejemplo si la pagina va a
tener un parrafo, se veria mas o
menos asi</p>
<xmp>
	<body>
		<p>
			parrafo 1
		</p>
	</body>
</xmp>
