<title>
	header / encabezado
</title>
<h1>header / encabezado</h1>
<p>la etiqueta header de html tags
se comporta como la etiqueta head
de las versiones posteriores</p>
<p>la etiqueta header de html tags
se volvio obsoleta en html 1.1</p>
<p>la etiqueta header volvio a
aparecer en html 5, es diferente a
head</p>
<p>la etiqueta header de html tags
o la etiqueta head de las versiones
posteriores, sirven para poner datos
acerca de la pagina, metadatos</p>
<p>los datos de header de html tags
o head de las versiones posteriores
no se muestran en la pagina</p>
<p>la etiqueta header en html tags
esta planeada para el futuro</p>
<p>...</p>
<p>por ejemplo si la pagina va a
tener un titulo, se veria mas o
menos asi</p>
<xmp>
	<head>
		<title>
			titulo
		</title>
	</head>
</xmp>
