<title>
	comment / comentario
</title>
<h1>comment / comentario</h1>
<p>un comentario no manda nada de
informacion a la pagina</p>
<p>un comentario sirve para poner
informacion util para los
desarrolladores de la pagina</p>
<p>los comentarios pueden ir en
cualquier parte de la pagina</p>
<p>...</p>
<p>algunos ejemplos son<p>
<xmp>
	<!-- Es un commentario -->
	<!--
		otro comentario
	-->
	<!-- comentario de varias
		lineas -->
	<!--
		otro comentario de
		varias lineas
	-->
</xmp>
