<title>
	listas anidadas
</title>
<ul>
	<li>
		lista
	</li>
	<li>
		que
	</li>
	<li>
		contendra
	</li>
	<li>
		una
	</li>
	<ul>
		<li>
			lista
		</li>
		<li>
			anidada
		</li>
	</ul>
	</li>
	<li>
		regresamos
	</li>
	<li>
		a
	</li>
	<li>
		la
	</li>
	<li>
		lista
	</li>
	<li>
		normal
	</li>
	<li>
		en
	</li>
	<li>
		vez
	</li>
	<li>
		de
	</li>
	<li>
		poner
	</li>
	<li>
		un
	</li>
	<li>
		li
	</li>
	<li>
		pon
	</li>
	<li>
		un
	</li>
	<li>
		ul
	</li>
	<li>
		puedes
	</li>
	<li>
		anidar
	</li>
	<li>
		varios
	</li>
	<li>
		ul
	</li>
	<li>
		o
	</li>
	<li>
		varios
	</li>
	<li>
		ol
	</li>
	<li>
		o
	</li>
	<li>
		combinar
	</li>
	<li>
		varios
	</li>
	<li>
		tipos
	</li>
	<li>
		de
	</li>
	<li>
		listas
	</li>
</ul>
