<title>
	atributo name de la
	etiqueta a de anchor
	/ ancla
</title>
<a name = inicio>
	<h1>
		HTML
	</h1>
</a>
<h2>
	Siglas
</h2>
<dl>
	<dt>
		HT
	</dt>
	<dd>
		HiperText
	</dd>
	<dt>
		M
	</dt>
	<dd>
		Markup
	</dd>
	<dt>
		L
	</dt>
	<dd>
		Language
	</dd>
</dl>
<h2>
	Español
</h2>
<dl>
	<dt>
		L
	</dt>
	<dd>
		Lenguaje de
	</dd>
	<dt>
		M
	</dt>
	<dd>
		Marcado de
	</dd>
	<dt>
		HT
	</dt>
	<dd>
		HiperTexto
	</dd>
</dl>
<h3>
	Uso
</h3>
<p>
	crear 
	<a href = #pagina_web>
		paginas web
	</a>
</p>
<h3>
	Lenguaje
</h3>
<p>
	Sistema de comunicacion
</p>
<h3>
	Marcado
</h3>
<p>
	que se distingue
</p>
<h3>
	HiperTexto
</h3>
<p>
	Texto que vincula a otro
</p>
<a name = pagina_web>
	<h3>
		Pagina web
	</h3>
</a>
<p>
	documento 
	<a href = #inicio>
		html
	</a>
</p>
<p>
	otra manera de ir al inicio
	ir a la pagina actual con #
	en el atributo name
	de la etiqueta a en vez
	de #algunNombre, para ir a
	esa ancla usa el atrinuto
	href = #algunNombre
	<a href = #>
		inicio	
	</a>
</p>
<h3>
	otra pagina
</h3>
<p>
	enlace a otra
	<a
	href
	=19_destiny_destino.htm>
		pagina
	</a>
<p>
