<title>
	atributo name de la
	etiqueta a de anchor
	/ ancla
</title>
<p>
	enlace a la pagina anterior
	pero a la seccion pagina web
	usando la direccion normal
	de la pagina anterior en el
	atributo href por ejemplo
	pagina_anterior, pero
	agregando la seccion por
	ejemplo #seccion, quedando
	pagina_anterior#seccion
	en el atributo href de la
	etiqueta a, anchor / ancla
	<a href =
	18_name_a.htm#pagina_web>
		pagina anterior
	</a>
</p>
