<title>
	anchor headers / encabezados
</title>
<a href = #>
	<h1>
		ancla a esta pagina
	</h1>
</a>
<h1>
	<a href = #>
		otra ancla
	</a>
</h1>
<a href = #>
	<h2>
		ancla a esta pagina
	</h2>
</a>
<h2>
	<a href = #>
		otra ancla
	</a>
</h2>
<a href = #>
	<h3>
		ancla a esta pagina
	</h3>
</a>
<h3>
	<a href = #>
		otra ancla
	</a>
</h3>
<a href = #>
	<h3>
		ancla a esta pagina
	</h3>
</a>
<h3>
	<a href = #>
		otra ancla
	</a>
</h3>
<a href = #>
	<h4>
		ancla a esta pagina
	</h4>
</a>
<h4>
	<a href = #>
		otra ancla
	</a>
<h4>
<a href = #>
	<h5>
		ancla a esta pagina
	</h5>
</a>
<h5>
	<a href = #>
		otra ancla
	</a>
</h5>
<a href = #>
	<h6>
		ancla a esta pagina
	</h6>
</a>
<h6>
	<a href = #>
		otra ancla
	</a>
</h6>
