<title>
	anchor / ancla ul
</title>
<h1>
	agregando anclas en ul
</h1>
<h2>
	toda la lista tiene 1 a ;(
</h2>
<a href = #>
	<ul>
		<li>
			ancla 1
		</li>
		<li>
			ancla 2
		</li>
	</ul>
</a>
<ul>
	<a href = #>
		<li>
			ancla 1
		</li>
		<li>
			ancla 2
		</li>
	</a>
</ul>
<h2>
	cada a tiene un li ;/
</h2>
<ul>
	<a href = #>
		<li>
			ancla 1
		</li>
	</a>
	<a href = #>
		<li>
			ancla 2
		</li>
	</a>
</ul>
<h2>
	cada li tiene un a ;)
</h2>
<ul>
	<li>
		<a href = #>
			ancla 1
		</a>
	</li>
	<li>
		<a href = #>
			ancla 2
		</a>
	</li>
</ul>
