<title>
	anchor / ancla ol
</title>
<h1>
	agregando anclas en ol
</h1>
<h2>
	toda la lista tiene 1 a ;(
</h2>
<a href = #>
	<ol>
		<li>
			ancla 1
		</li>
		<li>
			ancla 2
		</li>
	</ol>
</a>
<ol>
	<a href = #>
		<li>
			ancla 1
		</li>
		<li>
			ancla 2
		</li>
	</a>
</ol>
<h2>
	cada a tiene un li ;/
</h2>
<ol>
	<a href = #>
		<li>
			ancla 1
		</li>
	</a>
	<a href = #>
		<li>
			ancla 2
		</li>
	</a>
</ol>
<h2>
	cada li tiene un a ;)
</h2>
<ol>
	<li>
		<a href = #>
			ancla 1
		</a>
	</li>
	<li>
		<a href = #>
			ancla 2
		</a>
	</li>
</ol>
