<title>
	anchor / ancla en dl
</title>
<h1>
	agregando anclas en dl
</h1>
<h2>
	toda la lista tiene 1 a ;(
</h2>
<dl>
	<a href = #>
		<dt>
			termino 1
		</dt>
		<dd>
			dato 1
		</dd>
	</a>
</dl>
<a href = #>
	<dl>
		<dt>
			termino 1
		</dt>
		<dd>
			dato 1
		</dd>
	</dl>
</a>
<h2>
	cada a tiene 1 dt ;)
</h2>
<dl>
	<a href = #>
		<dt>
			termino 1
		</dt>
	</a>
	<dd>
		dato 1
	</dd>
</dl>
<h2>
	cada a tiene 1 dd ;)
</h2>
<dl>
	<dt>
		termino 1
	</dt>
	<a href = #>
		<dd>
			dato 1
		</dd>
	</a>
</dl>
<h2>
	cada dt tiene 1 a ;)
</h2>
<dl>
	<dt>
		<a href = #>
			termino 1
		</a>
	</dt>
	<dd>
		dato 1
	</dd>
</dl>
<h2>
	cada dd tiene 1 a ;)
</h2>
<dl>
	<dt>
		termino 1
	</dt>
	<dd>
		<a href = #>
			dato 1
		</a>
	</dd>
</dl>
