<title>
	html entities entidades
</title>
<h1>
	html entities entidades
</h1>
<p>son caracteres especiales, para
usarlos debes poner:</p>
<ul>
	<li>& seguida de una</li>
	<li>seciencia de letras</li>
	<li>y finalmente ;</li>
</ul>
<p>esas secuencias de letras son</p>
<ul>
	<li>lt = less than,
		menor que
	</li>
	<li>gt = greater than,
		mayor que
	</li>
	<li>amp = amperson &</li>
	<li>quot = quote, cita</li>
</ul>
<p>los caracteres serian</p>
<ul>
	<li>&lt;</li>
	<li>&gt;</li>
	<li>&amp;</li>
	<li>&quot;</li>
</ul>
