<title>
	gato
</title>
<base href = ../ />
<h1>
	gato
</h1>
<p>animal que retrae las garras</p>
<h2>
	explicando ruta ../
</h2>
<p>esa ruta nos lleva a la carpeta
padre, de la carpeta actual</p>
<h2>
	ir a pagina principal
</h2>
<a href = index.htm>
	ir a pagina principal
</a>
