<title>
	principal
</title>
<base href = animales/ />
<h1>
	ejemplo de base
</h1>
<h2>
	explicando index.htm
</h2>
<p>esta pagina tiene el nombre de
index.htm que es el nombre que de
manera predeterminada, tienen
configurada los servidores, para ser
la primera pagina a mostrar cuando
se visita un determinado sitio web
</p>
<p>se usa la extension htm para ser
compatible con navegadores viejos,
pero lo comun es usar la extencion
html</p>
<h2>
	pagina y sitio web
</h2>
<p>una pagina web es un documento
con extension htm o html</p>
<p>un sitio web es un conjunto de
paginas web</p>
<p>un portal permite conectar a
varios servicios o sitios web</p>
<h2>
	la etiqueta base
</h2>
<p>la etiqueta base permite poner
una ruta en la cual a partir de ella
las anclas van a funcionar</p>
<h2>
	el ejemplo
</h2>
<p>esta pagina principal que habla
sobre animales tendra 2 ligas 1 de
gatos y otra de perros</p>
<p>ambas en la carpeta animales</p>
<p>y para no poner la ruta completa
</p>
<p>pondremos como ruta base la
carpeta animales/</p>
<a href = gato.htm>
	gato
</a>
<a href = perro.htm>
	perro
</a>
